:root{
    --zala-primary: #ff6900;
    --zala-dark:#1a1a1a;
    --zala-lighter:white;
    --zala-accent:#ff0000;
    --zala-sostenibility:#008000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region header */
#site_header{
    background-color: var(--zala-primary);
    position:fixed;
    color: white;
    width: 100%;
    z-index: 1000;
    

}

.header_contenitor{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}
/* #endregion header */

/* #region main */
.main_contenitor{
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.item{
    
    width: 30%;
    height: 500px;
    position: relative;
    background-size: contain;
    margin-top: 100px;
}

.red_square{
    background-color: var(--zala-accent);
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 30px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.green_square{
    background-color: var(--zala-sostenibility);
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 55px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}

.heart_square{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

:hover.heart_square{
    color: var(--zala-accent);
}

.item_description{
    position: absolute;
    top: 100%;

}

.discount_price{
    color: var(--zala-accent);
}

.real_price{
    text-decoration: line-through;
}

.small{
    font-size: 14px;
}
/* item image */
.levis_first{
    
    background-image: url(/assets/img/1.webp);
}

.guess{
    background-image: url(/assets/img/2.webp);  
}


.third_item{
    background-image: url(/assets/img/3.webp);
}

.levis_forth{
    background-image: url(/assets/img/4.webp);
}

.long_dress{
    background-image: url(/assets/img/5.webp);
}

.last_item{
    background-image: url(/assets/img/6.webp);
}

/* hover img */
:hover.levis_first{
    background-image: url(/assets/img/1b.webp);
}
:hover.guess{
    background-image: url(/assets/img/2b.webp);
}

:hover.third_item{
    background-image: url(/assets/img/3b.webp);
}

:hover.levis_forth{
    background-image: url(/assets/img/4b.webp);
}

:hover.long_dress{
    background-image: url(/assets/img/5b.webp);
}

:hover.last_item{
    background-image: url(/assets/img/6b.webp);
}
.bottom-left{
    left: 0;
}
/* #endregion main */

/* #region footer */
#site_footer{
    margin-top: 100px;
    background-color: var(--zala-dark);
  
}
.footer_contenitor{
   
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;

}

.padding-bottom{
    padding-bottom: 3px;
}

span{
    padding-right: 5px;
}
/* #endregion footer */